.layui-table {
    margin: 0 0;
}

.table-head {
    line-height: 40px;
    height: 40px;
    padding-left: 12px;
    background: #f2f2f2;
}

.layui-table, .layui-table-view {
    margin: 0 0;
}

#mx-table-search-form input {
    width: 250px;
}

.table-search {
    margin-top: 10px;
}
