<div id="battery">
    <h1 style="text-align: center; margin-top: 0.8%;">电源状态</h1>

    <el-tabs type="border-card" @tab-click="handleClick">
        <el-tab-pane label="电池">
            <template>
                <div style="display: flex; margin-top: 5%; margin-left: 9%">
                    <span style="margin-top: 0.8%; margin-left: 0.8%;">电池组：</span>
                    <el-select v-model="value" placeholder="请选择" style="display: flex">
                        <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                    <div class="block" style="margin-left: 5%;">
                        <span class="demonstration">日期：</span>
                        <el-date-picker
                                v-model="value1"
                                type="datetimerange"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                        </el-date-picker>
                    </div>
                    <el-button type="primary" icon="el-icon-search" style="margin-left: 0.8%" @click="search_data">搜索
                    </el-button>
                </div>
            </template>
            <div id="dashboard1"
                 style="text-align: center; width: 100%; height:300%; display: flex;"></div>
            <div id="dashboard2"
                 style="text-align: center; width: 100%; height:300%; display: flex;"></div>
            <div id="dashboard3"
                 style="text-align: center; width: 100%; height:300%; display: flex;"></div>
        </el-tab-pane>
        <el-tab-pane label="UPS">
            <template>
                <div style="display: flex; margin-top: 5%; margin-left: 9%">
                    <span style="margin-top: 0.8%; margin-left: 0.8%;">类型：</span>
                    <el-select v-model="ups_value" placeholder="请选择" style="display: flex" @change="ups_choose_data">
                        <el-option
                                v-for="item in ups_option"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                    <div class="block" style="margin-left: 5%;">
                        <span class="demonstration">日期：</span>
                        <el-date-picker
                                v-model="ups_value1"
                                type="datetimerange"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                        </el-date-picker>
                    </div>
                    <el-button type="primary" icon="el-icon-search" style="margin-left: 0.8%" @click="search_data_ups">
                        搜索
                    </el-button>
                </div>
            </template>
            <div id="ups_1" style="text-align: center; width: 100%; height:300%; display: flex;"></div>
            <div id="ups_2" style="text-align: center; width: 100%; height:300%; display: flex;"></div>
            <div id="ups_3" style="text-align: center; width: 100%; height:300%; display: flex;"></div>
            <div id="ups_4" style="text-align: center; width: 100%; height:300%; display: flex;"></div>
            <div id="ups_5" style="text-align: center; width: 100%; height:300%; display: flex;"></div>
            <div id="ups_6" style="text-align: center; width: 100%; height:300%; display: flex;"></div>
            <div id="ups_7" style="text-align: center; width: 100%; height:300%; display: flex;"></div>
            <div id="ups_8" style="text-align: center; width: 100%; height:300%; display: flex;"></div>
            <div id="ups_9" style="text-align: center; width: 100%; height:300%; display: flex;"></div>
            <div id="ups_10" style="text-align: center; width: 100%; height:300%; display: flex;"></div>
        </el-tab-pane>
        <el-tab-pane label="UPS旁路">
            <template>
                <div style="display: flex; margin-top: 5%; margin-left: 9%">
                    <span style="margin-top: 0.8%; margin-left: 0.8%;">类型：</span>
                    <el-select v-model="ups_side_value" placeholder="请选择" style="display: flex" @change="ups_side_choose">
                        <el-option
                                v-for="item in ups_side_option"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                    <div class="block" style="margin-left: 5%;">
                        <span class="demonstration">日期：</span>
                        <el-date-picker
                                v-model="ups_side_value1"
                                type="datetimerange"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                        </el-date-picker>
                    </div>
                    <el-button type="primary" icon="el-icon-search" style="margin-left: 0.8%"
                               @click="search_data_ups_side">搜索
                    </el-button>
                </div>
            </template>
            <div id="ups_side_1" style="text-align: center; width: 100%; height:300%; display: flex;"></div>
            <div id="ups_side_2" style="text-align: center; width: 100%; height:300%; display: flex;"></div>
            <div id="ups_side_3" style="text-align: center; width: 100%; height:300%; display: flex;"></div>
            <div id="ups_side_4" style="text-align: center; width: 100%; height:300%; display: flex;"></div>
            <div id="ups_side_5" style="text-align: center; width: 100%; height:300%; display: flex;"></div>
            <div id="ups_side_6" style="text-align: center; width: 100%; height:300%; display: flex;"></div>
            <div id="ups_side_7" style="text-align: center; width: 100%; height:300%; display: flex;"></div>
        </el-tab-pane>
    </el-tabs>

</div>